In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

archivo = "data-housing.xlsx" 
df = pd.read_excel(archivo)

df

,price,area,bedrooms,bathrooms,stories,guestroom,hotwaterheating,airconditioning,parking
0,13300000,7420,4,2,3,no,no,yes,2
1,12250000,8960,4,4,4,no,no,yes,3
2,12250000,9960,3,2,2,no,no,no,2
3,12215000,7500,4,2,2,no,no,yes,3
4,11410000,7420,4,1,2,yes,no,yes,2
...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,no,no,no,2
541,1767150,2400,3,1,1,no,no,no,0
542,1750000,3620,2,1,1,no,no,no,0
543,1750000,2910,3,1,1,no,no,no,0
544,1750000,3850,3,1,2,no,no,no,0

In [6]:
def data_quality_analysis(df):
 
    result_df = pd.DataFrame(columns=['Columna', 'Tipo de dato', 'Valores únicos', 'Valores faltantes'])

    columns = df.columns
    data_types = df.dtypes.to_list()
    unique_values = [df[column].nunique() for column in columns]
    missing_values = [df[column].isnull().sum() for column in columns]

   
    result_df['Columna'] = columns
    result_df['Tipo de dato'] = data_types
    result_df['Valores únicos'] = unique_values
    result_df['Valores faltantes'] = missing_values

    return result_df

In [7]:
analysis_result = data_quality_analysis(df).set_index('Columna')
print(analysis_result.sort_values('Tipo de dato'))

                Tipo de dato  Valores únicos  Valores faltantes
Columna
price                  int64             219                  0
area                   int64             284                  0
bedrooms               int64               6                  0
bathrooms              int64               4                  0
stories                int64               4                  0
parking                int64               4                  0
guestroom             object               2                  0
hotwaterheating       object               2                  0
airconditioning       object               2                  0

In [5]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000